---
import {Image} from 'astro:assets';
import Link from "../components/Link.astro";

import type {ImageMetadata} from 'astro';

interface Props {
    image: ImageMetadata;
    alt: string,
    source?: string,
    translation?: string,
}

const {
    image,
    alt,
    source,
    translation= await Astro.slots.render('translation'),
} = Astro.props;

---

<div class="relative">
    <div class:list={[
        'relative',
        'peer/image',
        { 'hover:blur hover:opacity-60': translation },
    ]}>
        <div class="absolute inset-0 shadow-image shadow-light dark:shadow-dark z-20"></div>
        <Image src={image}
               alt={alt}
               class="relative z-10"
        />
    </div>
    {
        source && (
            <div class="mx-2 text-right peer-hover/image:invisible">
                <Link text="źródło" url={source} />
            </div>
        )
    }
    {
        translation && (
            <div class="font-sans absolute left-0 top-0 z-10 p-5 pointer-events-none invisible peer-hover/image:visible">
                <fragment set:html={translation} />
            </div>
        )
    }
</div>
